.idea/
*.pyc
*.aff
*.dic
*.arpa
*.binary
*.bin
*.user
*.tar.gz
*.spell
*.cache
start conda jacks env HERE.bat
/build
test_data/NOTEEVENTS.csv
/dist
/jamspell.egg-info
/test_data/pickles
/test_data/umlsSentences.txt.old
.vscode/settings.json
/test_data/noteevents_split
/test_data/unused
/test_data/noteevents_sentences.txt
/test_data/noteevents_clean_gpt2format.txt
/test_data/noteevents_rows.txt
test_data/umlsSentences.txt
